body{
    margin: 0 50px 0 50px;
}


.categories{
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
}


.categories-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}