/* Mobile devices (standard CSS) */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  margin: 0 10px 0 10px;
  font-family: "Inter", sans-serif;
  background-color: var(--color-red-8);
}

img {
  width: 100%;
  height: auto;
  border-radius: 3%;  
}

:root {
  /*  Color */
  --color-red-8: #f29b9b;
  --color-red-9: #facdcd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #f9e79f;
  --color-blue: #85c1e9;
  --color-green: #82e0aa;
  --color-grey: #d5dbdb;
  --color-orange: #cb584b;
  --color-red-4: #9e3429;
  --color-dark-blue: #1a5d89; 
  --color-mustard: #d4ac0d;
  --color-dark-green: #145214;  

  /* Font size */
  --font-small: 14px;
  --font-medium: 16px;

  /* Font weight */
  --font-weight-small: 400;
  --font-weight-medium: 500;
}

/* Tablets
@media all and (min-width: 768px) and (max-width: 1024px) {

}


Laptops and larger screens 
@media all and (min-width: 1024px) {

}
*/

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  background-color: var(--color-red-8);
}

.nav-search-icon{
  width: 10px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.nav-hamburger-icon, .nav-basket-icon, .nav-profile-icon {
  width: 30px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.nav-logo-icon {
   width: 50px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.nav-search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-search form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px; 
  transition: max-width 0.3s ease;
}

.nav-search input {
  flex: 1; 
  padding: 8px;
  border: 1px solid var(--color-white);
  border-radius: 4px 0 0 4px;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.profile-list {
  display: flex;
  gap: 10px;
}


.slider {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    position: relative; 
    border-radius: 15px
}

.slider-track {
    display: flex;
    width: 400%; 
    animation: slideShow 15s infinite ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Animasyon: 3 görsel için geçişler */
@keyframes slideShow {
    0% { transform: translateX(0); }
    30% { transform: translateX(0); }       /* 1. Görsel bekleme */
    33% { transform: translateX(-25%); }    /* 2. Görsele geçiş */
    63% { transform: translateX(-25%); }    /* 2. Görsel bekleme */
    66% { transform: translateX(-50%); }    /* 3. Görsele geçiş */
    96% { transform: translateX(-50%); }    /* 3. Görsel bekleme */
    100% { transform: translateX(-75%); }   /* Başa dönmek için kopya */
}

/* Mobil İnce Ayar */
@media (max-width: 768px) {
    .search-form { width: 90%; }
    .slider { aspect-ratio: 4 / 3; } /* Mobilde daha dikey bir banner */
}


.categories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:10px;
}

.fabric{
  display: flex;
  flex-direction: column;
}

.btn{
  background-color: var(--color-red-9);
  padding: 10px 10px;
  border-radius: 4px;
  font-size: var(--font-medium);
  font-weight: var(--font-weight-medium);
  color: var(--color-black);
  text-align: center;
  margin-top:10px;
}

/* I know. Normally footer is block but I wanted to flex bulding */
.footer-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  justify-content:space-around;
}

@keyframes titret {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

.footer-list a {
  display: inline-block; /* Artık tek tek yazmana gerek kalmadı */
  padding: 5px;
  border-radius: 3px;
  transition: transform 0.2s ease; /* Hover efekti için buraya bir kez yazman yeterli */
}

.about-us{
  background-color: var(--color-yellow);
  transform: rotate(-5deg);
}

.about-us:hover, .contact-us:hover, .our-stores:hover, .careers:hover, .blog:hover, .shipping:hover, .faqs:hover, .join-us:hover, .sustainability:hover, .wholesale-enquiries:hover {
  animation: titret 0.2s infinite;
  display: inline-block;
  cursor: pointer;
}

.contact-us{
  background-color: var(--color-grey);
  transform: rotate(7deg);
}

.our-stores{
background-color: var(--color-blue);
  transform: rotate(-2deg);
}

.careers{
  background-color: var(--color-red-4);
  transform: rotate(-2deg);
  color: var(--color-white);
}

.blog{
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.shipping{
  background-color: var(--color-white);
  transform: rotate(-5deg);}

  .faqs{
  background-color: var(--color-orange);
}

.join-us{
background-color: var(--color-green);
  transform: rotate(5deg);
}

.constant-shake{
  animation: titret 0.3s infinite ease-in-out;
}

.sustainability{
  background-color: var(--color-mustard);
  transform: rotate(-3deg);
}

.wholesale-enquiries{
  background-color: var(--color-dark-green);
  transform: rotate(2deg);
  color: var(--color-white);
} 

